/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

a {
  text-decoration: none;
}

/* House styles below */
* {
  box-sizing: border-box;
}
html {
  font-size: 1.125em;/* 18/16 = 1.125em*/
  line-height: 1.2em;/* 21.6/18 = 1.2em*/
  overflow-x: hidden;
  background-color: #E4F5FF;
}

/* Scrollbar design */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #2E4E61 transparent;
}

/* Webkit supported browsers */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(46 78 97 / 70%);
  border-radius: 0.4em;
}

/* End of scrollbar design */

input[type="checkbox"] {
  border: 1px solid #ccc;
}

button {
  padding: 0 0.6em;
  border: 0;
  background: inherit;
  font-size: small;
  cursor: pointer;
  background-color: rgb(177 226 255 / 70%);
  height: 2em;
}

body {
  display: grid;
  line-height: inherit;

}

h4 {
  font-weight: 550;
  display: inline;
  margin-bottom: 1.5em;
}

p, h4, label, legend, a, input, button {
  color: #3E4146;
}

header {
  display: grid;
  grid-template-columns: 5em auto 5em;
  height: 2.7777778em;/* 50/18 = 2.7777778em*/
  padding: 0.5em 1em 0 1em;
}

.hide {
  display: none;
}

.hiden{
  display: none;
}

header #home-nav {
  align-self: center;
}
header #second-nav ul {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  width: inherit;
  height: 100%;
  align-items: center;
}

header button, header nav a {
  font-size: 0.77778em; /* 14/18 = */
}

nav.hide li a {
  width: 100%;
}

header #second-nav a {
  grid-column: span 3;
  text-decoration: none;
}

/* main {
  overflow-x: hidden;
} */

#home button:nth-child(1){
  width: 100%;
  height: 2em;
  font-size: 0.9em;
}

#filter {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  background: #E4F5FF;
  display: flex;
  flex-direction: column;
  transition: 0.4s;
  left: -100vw;
}

#filter li {
  display: flex;
  flex-direction: column;
  padding: 0 0 0.3em 0;
  margin: 0 0.8em;
}

#filter li fieldset{
  padding: 0;
}

#filter li:nth-of-type(1) {
  margin: 0;
}

#filter li label, #filter fieldset legend{
  font-size: 1.02em;
  border-bottom: 0.09em solid #35B4FF;
  margin-bottom: 0.3em;
  width: max-content;
  padding-right: 0.4em;
}

#filter li button {
  width: 100%;
  height: 2em;
  font-size: 0.9em;
}

#filter li select, #filter li input {
  outline: 0;
  font-size: 0.833333em; /* 15/18 = 0.833333em*/
  border: 0 solid gray;
  padding: 0 0 0 0.4em; /* 6/15 = 0.4em*/
  height: 2em;/* 24/18 = 1.6em*/
  background-color: #CFEDFF;
}

#filter input ~ input {
  margin-left: 1em;
}

#item-grid{
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, calc(50% - 0.5em)));
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  padding: 1em 0.6em;
  width: 100vw;
}

#item-grid li{
  height: min-content;
  padding-top: 0.2em;
  padding: 1em;
  box-shadow: 0px 8px 14px 6px #c0e8ff;
  border-radius: 0.45em;
}

#item-grid li figure{
  height: 205px;
  display: flex;
  justify-content: center;
}

#item-grid li p{
  /* width: max-content; */
}

#item-grid li>p:nth-of-type(1) {
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #56608f;
    width: 50%;
    font-size: 1.1em;
}

#item-grid li p:nth-of-type(2){
  float: right;
}

#item-grid li a{
  cursor: pointer;
}

#item-grid li a p{
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 0.5em;
  font-size: 0.94em;
}

#item-grid li button{
  max-width: 15em;
  min-width: 90%;
  height: 2.5em;
  border: 0.16em solid #B1E2FF;
  background-color: transparent;
  border-radius: 1em;
  display: block;
  margin: 0.5em auto 0 auto;
  background-color: #B1E2FF;
}

#item-grid li button.selected{
  border-color: #FFACAC;
  color: #FF2929;
  background-color: #FFACAC;
}

#item-grid li figure img{
  height: 100%;
  min-width: 50px;
}

#cart #shopping-cart ul{
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  overflow-x: auto;
  grid-gap: 1em;
}

#cart #shopping-cart ul ul{
  display: block;
  overflow: auto;
}


#cart #shopping-cart ul li{
  height: 70px;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: minmax(0, max-content) 3em minmax(0, auto) repeat(3, minmax(0, max-content));
  flex-direction: row;
  align-items: center;
  grid-column-gap: 0.2em;
  padding: 0.1em;
}

#cart #shopping-cart ul li.remove{
  display: none;
}

#cart #shopping-cart ul figure{
  height: inherit;
  width: 100px;
  display: flex;
  justify-content: center;
  grid-row: span 2;
}

#cart #shopping-cart ul li p:nth-of-type(1){
  grid-column: span 2;
  font-size: 1.4em;
  font-weight: 600;
  padding-left: 0.2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 0.5em;
  color: #56608f;
  width: 65%;
}

#cart #shopping-cart ul li p:nth-of-type(2){
  grid-row: 2;
  grid-column: 2;
  font-size: 1.09em;
}

#cart #shopping-cart ul ul{
  grid-row: 2;
  grid-column: 3;
  display: flex;
  flex-direction: row;
  margin-left: 0.9em;
}

#cart #shopping-cart ul ul li{
  display: flex;
  height: max-content;
}

#cart #shopping-cart ul ul li a{
  font-size: 0.78em;
}

#cart #shopping-cart ul li button{/** Remember to change px to em**/
  font-weight: bold;
  font-size: 1em;
  background: rgb(121 172 202 / 70%);
  padding: 0.1em 0.2em;
  text-align: center;
  width: 1.8em;
  height: 1.8em;
  border-radius: 50%;
}

#cart #shopping-cart ul button:nth-of-type(1){
  grid-column: 4;
  margin-right: 0.1em;
}

#cart #shopping-cart ul li button,
#cart #shopping-cart ul li input{
  grid-row: span 2;
}

#cart #shopping-cart ul li button.onred{
  background-color: #FF2929;
}

.translatex {
  left: 0!important;
}

/* Chrome, Safari, Edge, Opera */
#cart #shopping-cart input::-webkit-outer-spin-button,
#cart #shopping-cart input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#cart #shopping-cart input[type=number] {
  -moz-appearance: textfield;
  width: 35px;
  height: 35px;
  text-align: center;
  border: 0;
  border-color: transparent;
  outline-color: transparent;
  border-radius: 0.4em;
}

#cart #shopping-cart input[type=number]:focus-within,
#cart #shopping-cart input[type=number]:focus {
  background-color: #fff!important;
}

#cart #order-summary h4{
  padding-bottom: 0.5em;
  display: block;
  margin: 0;
}

#cart #order-summary h5{
  font-weight: bold;
  padding-bottom: 0.5em;
  padding-top: 0.2em;
}

#cart #order-summary li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#cart #order-summary>ul>li>span{
  width: 2.5em;
  display: flex;
  justify-content: space-between;
  padding-right: 0.4em;
}

#cart #order-summary>ul>li>span::after{
  content: "x ";
  flex: left;
}

#cart #order-summary li>p{
  font-size: 0.9em;
}

#cart #order-summary li.remove{
  display: none;
}

#cart #order-summary li>p:nth-of-type(1){
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 0.5em;
  width: 90%;
}

#cart #order-summary button{
  width: 100%;
  height: 2.5em;
  background-color: rgb(121 172 202 / 70%);
  border-radius: 1em;
  display: block;
  margin: 0.5em auto 0 auto
}

#cart #order-summary>span {
    float: right;
}

#cart #order-summary>span::before{
  content: "$";
}

#descriptions {
  background: linear-gradient(183.79deg, #E4F5FF 51.72%, #ffffff 51.72%);
  display: block;
  height: calc(100vh - 2.7777778em);
}

#description_container{
  height: 100%;
}

#description_container > li{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100%;
  width: 100%;
}

#description_container li p:nth-of-type(1){
  grid-column: 2 / span 4;
  grid-row: 1 / span 2;
}

#description_container li p:nth-of-type(2){
  grid-column: 2 / span 3;
  grid-row: 3/ span 2;
}

#description_container li p:nth-of-type(3){
  grid-column: 2 / span 2;
  grid-row: 7/ span 1;
  text-align: center;
}

#description_container li figure{
  grid-column: 6 / span 3;
  grid-row: 1/ span 8;
}

#description_container li figure{
  height: 100%;
  display: flex;
}


form {
  padding: 0 1em;
  grid-column-start: 2;
}

nav li {
  transition: all 0.2s;
  border-bottom: 0.09em solid transparent;
}

form ol {
  display: grid;
  grid-template-columns: repeat( 4, 1fr);
  grid-column-gap: 1em;
}

form ol .half {
  grid-column: span 2;
}

form ol li, fieldset {
  grid-column: 1/5;
  display: grid;
  grid-template-columns: max-content 1fr 1fr 1fr;
  grid-row-gap: 0.3em;
  padding: 0.3em 0;
}

form ol li label, form ol li input {
  grid-column: 1/5;
}

form ol li input {
  font-size: 0.833333em; /* 15/18 = 0.833333em*/
  border: 0 solid gray;
  padding: 0 0 0 0.4em; /* 6/15 = 0.4em*/
  margin: 0;
  height: 2em;/* 24/18 = 1.6em*/
  background-color: #CFEDFF;
}

.notinput button, .notinput input, .notinput label {
  cursor: pointer;
}

form ol .flex input, form ol .flex label {
  cursor: pointer;
}

li input:focus-within, li input:focus, li select:focus-within, li select:focus {
  background-color: #B1E2FF!important;
}

form ol li input:focus-visible {
  outline: 0;
}

input:focus::placeholder {
  color: transparent;
}

.flex {
  display: flex;
}

.overflow {
  overflow: hidden;
}

li.hideinp {
  display: none;
}

#billshipcheck, .notinput #bill {
  grid-column: 1;
  align-self: baseline;
  height: auto;
}

#billing .notinput label[for="billshipcheck"], .notinput label[for="bill"] {
  grid-column-start: 2;
  align-self: baseline;
  padding-left: 0.2em;
}

form ol .flex {
  align-items: baseline;
}

nav.hide {
  background-color: #E4F5FF;
}

nav.hide li:not(:first-child) {
  display: flex;
  margin: 0 0 0 0.6em;
  padding: 0;
}

li.location {
  border-bottom: 0.09em solid #35B4FF;
  padding: 0 0.3em;
  margin: 0 0.3em;
}

/* Review Design */
body main#cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1em;
}

body main#cart section {
  grid-column: span 12;
  background-color: #B1E2FF;
  margin: 0 1em;
  border-radius: 0.1em;
  padding: 1em;
}

body main#cart #shopping-cart {
  margin-top: 1em;
  max-height: 15em;
  padding-bottom: 1.2em;
}

body main#cart #billing-address {
  margin-bottom: 1em;
}

a.edit {
  float: right;
  color: #FF2929;
  text-decoration: underline;
}

a.edit + p {
  padding-top: 0.5em;
}

#shipping-address p:nth-last-child(1),
#shipping-address p:nth-last-child(2),
#shipping-address p:nth-last-child(3),
#billing-address p:nth-last-child(1),
#billing-address p:nth-last-child(2),
#billing-address p:nth-last-child(3) {
  display: inline;
}

#shipping-address p:nth-last-child(2):after,
#shipping-address p:nth-last-child(3):after,
#billing-address p:nth-last-child(2):after,
#billing-address p:nth-last-child(3):after {
  content: ",";
  padding-right: 0.2em;
}

#product-list li {
  display: flex;
  flex-direction: row;
}

#payment-info p:nth-of-type(1):before {
  content: "Card Name: ";
}

#payment-info p:nth-of-type(2):before {
  content: "Card Number: ";
}

#payment-info p:nth-of-type(3):before {
  content: "Expiry Date: ";
}

#payment-info p:nth-of-type(4):before {
  content: "CVV: ";
}

@media (max-width: 250px) { /* 900px/16 = 56.25em*/
  #filter fieldset{
    grid-template-columns: 1fr;
  }

  #filter fieldset input ~ input{
    margin-left: 0;
  }
}

@media (max-width: 31.25em) { /* 500px/16em */
  main > nav {
    flex-direction: column;
    height: max-content;
    width: 100vw;
    background: #fff;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100;
    right: -100vw;
    transition: 0.4s;

  }
  .translate {
    right: 0;
  }

  .nothide {
    position: absolute;
    visibility: hidden;
    display: none;
  }
  .hide button {
    width: 100%;
    font-size: 1em;
  }
  .hide {
    display: flex;
    align-self: center;
    justify-content: space-evenly;
  }

  .hide ul {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    margin-bottom: 50vh;
    justify-content: space-between;
  }
  header button.hide {
    grid-column-start: 3;
    height: 100%;
    padding: 1em;
  }
}

@media (min-width: 37.70em) { /* 600px/16em */
  #item-grid{
    grid-template-columns: repeat(3,  minmax(auto, calc(33.3333% - 0.66666em)));
    padding: 1em 0.2em;
  }

  #item-grid li button{
    min-width: 70%;
    max-width: 70%;
  }
}

form li .error{
  grid-column-start: 1;
  grid-column-end: -1;
  color: #FF2929;
  font-size: 0.75em;
}

@media (min-width: 56.25em) { /* 900px/16 = 56.25em*/
  main {
    display: grid;
    grid-template-columns: 1fr 56.25em 1fr; /* 900px/16 = 56.25em */
  }
  #cart{
    grid-template-columns: repeat(12, 1fr); /* 900px/16 = 56.25em */
    grid-column-gap: 1.5em!important;
    grid-row-gap: 1.2em!important;
  }
  #home {
    display: block;
  }
  #cart #shopping-cart{
    grid-column: span 8;
    grid-row: 1;
    margin-top: 0!important;
    margin-right: 0;
  }
  #cart #order-summary{
    grid-column: span 4;
    grid-row-start: 1;
    grid-row: span 3;
    margin-left: 0;
    /* Mozilla bug */
    width: -moz-available;
  }
  #cart #shipping-address{
    grid-column: span 4;
    grid-row:2;
    margin-right: 0;
  }
  #cart #payment-info{
    grid-column: span 4;
    grid-row:2;
    margin: 0;
  }
  #cart #billing-address{
    grid-column: span 4;
    grid-row:3;
    margin-bottom: 0!important;
    margin-right: 0;
  }

  #home #filter{
    display: none;
  }

  #home #filter.show{
    display: grid;
  }

  #filter {
    position: static;
    display: grid;
    grid-template-columns: repeat(7, max-content);
    height: max-content;
    width: 100vw;
    align-items: center;
    justify-content: center;
    transition: none;
  }

  #filter li{
    flex-direction: row;
    font-size: 0.83em;
    margin: 0 0.2em;
  }

  #filter input{
    width: 5.5em;
  }
  #filter fieldset {
    display: flex;
  }

  #filter fieldset legend {
    float: left;
  }

  #filter legend, #filter label{
    height: max-content;
    margin-right: 0.4em;
    padding-right: 0!important;
  }

  #price-filter input::before{
    content:"$";
    padding-left: 1em;
  }

  body #home #close-filter button:nth-of-type(1){
    display: block;
  }

  #item-grid{
    grid-template-columns: repeat(4, minmax(auto, calc(25% - 0.75em)));
    padding: 1em 2.5em 1em 1.5em;
  }

  select {
    cursor: pointer;
  }
}

@media (hover: hover) {
  /* Scrollbar */
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2E4E61;
  }

  button:hover {
    background-color: rgb(177 226 255);
  }

  #item-grid li button{
    background-color: transparent;
  }

  #item-grid li button:hover{
    background-color: #B1E2FF;
  }

  #item-grid li button.selected{
    background-color: transparent;
  }

  #item-grid li button.selected:hover{
    background-color: #FFACAC;
  }

  #cart #shopping-cart input[type=number]:hover{
    background-color: #fff!important;
  }

  #cart #order-summary button:hover{
    background-color: rgb(121 172 202 / 90%);
  }

  li input:hover, li select:hover{
    background-color: #B1E2FF!important;
  }

  nav li:hover {
    border-color: #35B4FF;
  }

  li.location:hover {
    padding: 0 0.6em;
    margin: 0;
  }
}
